body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(175, 56, 145);
}

#wrap {
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: #b6a69c;
}
.navbar {
    /*height: 50px;*/
	width: 100%;
    padding: 0;
    margin: 0;
    position: bottom;
    text-align: center;
}
.navbar li {
    height: 50px;
	width: 100%;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #56065e;
}
.navbar a {
    padding: 18px;
    border-left: 1px solid #ccc9c9;
    border-right: 1px solid #ccc9c9;
    border-top: 1px solid #ccc9c9;
    border-bottom: 1px solid #ccc9c9;
    text-decoration: none;
    color: rgb(0, 255, 34);
    /*display: flex;
	justify-content: center;*/
	display: block;
}
.navbar li:hover,
a:hover {
    background-color: #7c1674;
}
.navbar li ul {
    width: 100%;
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
}
.navbar li:hover ul {
    display: block;
}
.navbar li ul li {
    background-color: #328123;
}
.navbar li ul li a {
    border-left: 1px solid #2eabd8;
    border-right: 1px solid #2eabd8;
    border-top: 1px solid #2eabd8;
    border-bottom: 1px solid #2eabd8;
}
.navbar li ul li a:hover {
    background-color: #f9fd01;
	color:rgb(243, 11, 42)
}
